body {
	background: #f9f9f9;
	color: #bdbdbd;
}

#editor {
	margin: 2rem 0;
}

#jsoneditor, #jsonviewer {
	margin: 2rem 0;
	height: 40vh;
}

.ui.container {
	margin-top: 2rem;	
}

.field .label {
	position: absolute;
	top:2rem;
	right: 2rem;
}

.field {
	position: relative;
}

.ui.form textarea {
	border: 0!important;
	background: white!important;
	font-family: 'Inconsolata', monospace !important;
	font-weight: 700;
	padding: 3rem;
	font-size: 1.15rem;
	min-height: 40vh!important;
	resize: vertical;
	tab-size: 4;
	-moz-tab-size : 4;
	-o-tab-size : 4;
}

.ui.message.error {
		box-shadow: none!important;
    border: 0px !important;
}

.ui.message.error p {
	white-space: pre;
}

.ui.tab {
		background: transparent;
    border: 0!important;
		padding: 0 !important;
}

/*.field.out textarea{
	color: #bdbdbd!important;
}*/

.ui.menu .item.text {
	color: #bdbdbd!important;
}

.ui.mini.button, .ui.mini.buttons .button, .ui.mini.buttons .or {
    font-size: .78571429rem!important;
}